/*RESET*/
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
}

a{
    color: inherit;
    text-decoration: none;
    margin: 10px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.botton{
    background-color:#0061ff ;
    color: white;
    padding: 6px 4px;
}





/*UTILS*/

.d-flex{
    display: flex;
    align-items: center;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.debug{
    min-height: 80px;
    background-color: burlywood;
    padding: 2rem;
    border: 2px dashed red;
}

/* .debug *{
    min-height: 80px;
    background-color: burlywood;
    padding: 2rem;
    border: 2px dashed rgb(8, 8, 8);
} */
/*HEADER*/
header{
height: 80px;
display: flex;
justify-content: space-around;
}

.header-logo{
 flex-grow: 1;
 margin-left: 15px;
}

.header-container{
    display: flex;
    align-items: center;
    margin-top: 25px;
    flex-grow: 1;
}

.header-left{
    flex-grow: 1;
}

.header-right{
    flex-grow: 1;
}

.header-center{
    flex-grow: 5;
}

.botton{
    background-color:#0061ff ;
    color: white;
    padding: 6px 4px;
}

/*JUMBO*/

.jumbotron{
    background-color: #b4d0e7;
    height: 600px;
}
.jumbo-contain{
    display: flex;
    align-items: center;
}

.column-40{
    margin-left: 100px;
}
.column-40 > .botton{
    display: block;
    margin-bottom: 50px;
}

.column-40 > .arrow{
    margin-top: 100px;

}

.column-40 > p{
    margin-bottom: 30px;
}

.jumbotron > .container > h1{
    font-size: 55px;
}

.column-60 > img{
    margin-top: 100px;
}


/*  PIANO TARIFFARIO*/

.column-30{
    width: 30%;
  
    
}

#business{
    display: flex;
    gap: 45px;
    justify-content: center;
    margin-top: 10  0px;
}

.tariff{
    display: inline-block;
    margin-top: 100px;
}

.tariff > h2{
    font-size: 40px;
    margin-bottom: 50px;
}

.tariff > .btn{
    margin-left: 25px;
}

/*PARTNERSHIP*/

.column-70{
    width: 70%;
}

.column-30{
    margin-top: 30px;
}

.partnership > .container{
    display: flex;
    margin-top: 150px;
}

.partnership > .container > .column-30 > h2{
    margin-bottom: 60px;
}

.partnership > .container > .column-30 > p{
    margin-bottom: 60px;
}

